*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html,body{
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;


}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    /* background-color: red; */

}

#logo{
    margin-left: 20px;

}

#link{
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    font-size: 30px;

}

#btn{
    margin-right: 20px;

}
button{
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    margin-left: 10px;

}


#text{
    text-align: center;
    font-size: 60px;
    line-height: 200px;

}

#text h1:nth-child(1){
    margin-top:  50px;
   


}

#text span{
    background-color: brown;
    border-radius: 50px;
    padding: 50px;
    margin-right: 10px;
}

#first{
    position: absolute;
    top: 100px;
    height: 40%;
   


}
img{
    height: 100%;
    border-radius: 8px;


}

#src{
    position: absolute;
    bottom: 20px;
    right:100px;
    height: 40%;
   

}

#scroll{
    position: absolute;
    left: 45%;
    bottom: 90px;
    font-size: 30px;


}

#icons{
    margin-left: 50px;
    font-size: 50px;
    margin-top: 70px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: brown;
}
